*.exe
.vs/**  */
./bin/
./obj/
*.user
*.suo
*.cache
*.pdb
*.log
*.tmp
*.ncb
*.sdf
*.opensdf
*.ipch
*.aps
*.pch
*.dbmdl
*.dbproj.schemaview
*.jfm       
*.jfm.user
*.jfm.suo
*.jfm.cache     
*.jfm.pdb
*.jfm.log
*.jfm.tmp
*.jfm.ncb
*.jfm.sdf
*.jfm.opensdf


        