<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<!--<HOST>Https://Hslsr2prsdev.crm7.dynamics.com</HOST>-->
			<HOST>https://org54c44211.crm.dynamics.com/</HOST>
			<SERVER_HOST>TBD</SERVER_HOST>
			<BROWSER>Chrome</BROWSER>
			<INSTALL_PLAYWRIGHT>True</INSTALL_PLAYWRIGHT>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>